streamlit
langchain
langchain-community
langchain-core
langchain-google-genai>=2.0.0
faiss-cpu
sentence-transformers
InstructorEmbedding
python-dotenv
pandas
langchain-classic
google-generativeai>=0.8.0


requests

ollama  
