streamlit
langchain==0.1.0               
faiss-cpu                      
sentence-transformers            
pandas                           
python-dotenv                    
google-generativeai             
